:root {
	--font: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	transition: all .3s ease-in-out;
}

img {
	max-width: 100%;
	height: auto;
}

body, html {
	min-height: 100%;
	width: 100%;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}

/* Main Styles */

body {
	font: 13px var(--font);
	background: url('../images/bgbody.jpg') no-repeat top center;
	background-size: cover;
	padding-top: 1px;
}

.form {
	width: 460px;
	padding: 30px;
	margin: 35px auto;
	background: #fff;
	color: #85868a;
	border-radius: 5px;
}

.form__header {
	font: var(--font);
}

.form__header h1 {
	font: 700 24px var(--font);
	color: #1B1C1D;
}

.form__header h1 img {
	margin-left: 10px;
}

.form__header p {
	margin-top: 15px;
	font: 400 13px var(--font);
	line-height: 20px;
	margin-bottom: 32px;
}

.form__header p a {
	color: #ea355a;
	text-decoration: none;
}




.form__name .first__name {
	float: left;
	font: 300 14px var(--font);
	width: 47%;
	height: 40px;
	border: 1px solid #f0f0f0;
	padding: 10px 15px;
	color: #8d8e91;
	background: #f0f0f0;
	border-radius: 3px;
}

.form__name .last__name {
	float: right;
	font: 300 14px var(--font);
	width: 47%;
	height: 40px;
	border: 1px solid #f0f0f0;
	padding: 10px 15px;
	color: #8d8e91;
	background: #f0f0f0;
	border-radius: 3px;
}

.email_form {
	width: 100%;
	font: 300 14px var(--font);
	border: 1px solid #f0f0f0;
	padding: 10px 15px;
	background: #f0f0f0;
	margin-top: 20px;
	border-radius: 3px;
}

.password__form {
	width: 100%;
	font: 300 14px var(--font);
	border: 1px solid #f0f0f0;
	padding: 10px 15px;
	background: #f0f0f0;
	margin-top: 20px;
	border-radius: 3px;
}

.form__button {
	width: 100%;
	font: 700 18px var(--font);
	padding: 10px 20px;
	background: #ea355a;
	color: #fff;
	margin-top: 15px;
	border-radius: 3px;
}

.footer p {
	font: 400 12px var(--font);
	margin-top: 25px;
}

.footer p a {
	color: #ea355a;
	text-decoration: none;
}
